.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #132898;
    position: fixed;
  
    .logo-container {
      height: 50%;
      width: 70px;
    }
  
    .logo {
      width: 40px;
      height: 40px;
      margin: 15px;
      cursor: pointer;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 20px;
      
      .option {
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }